* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: #121026;
}

.main {
    flex-grow: 1;
    height: 100%;
    display: flex;
}

.main__container {
    width: 100%;
    height: 100%;
    background-color: #E6EBFD;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 2rem;
}

.main__side {
    width: 35rem;
    height: 100%;
    background-color: white;
}