.menu {
    width: 8rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0;
}

.menu__logo {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__logo > img {
    height: 3rem
}

.menu__logo > p {
    color: white;
    margin-top: 0.25rem;
    font-size: 0.75rem;
    font-weight: lighter;
}

.menu__button {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.menu__button-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.75rem;
    padding: 0.6rem 0;
    text-align: center;
    cursor: pointer;
}

.menu__button-active {
    background: linear-gradient(90deg, rgba(115, 103, 240, 0) 0%, rgba(115, 103, 240, 0.5) 100%);
    border-right: 0.25rem solid #7367F0;
}

.menu__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 0.25rem;
    color: white;
    font-size: 0.85rem;
}

.menu__profile__image {
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;
    border-radius: 50rem;
    margin-bottom: 0.5rem;
}

.menu__profile__role {
    padding: 0.2rem 0.75rem;
    background-color: #211D46;
    border-radius: 5px;
    color: #7367F0;
}
