* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: #121026;
}

.main {
    flex-grow: 1;
    height: 100%;
    width: 90%;
    display: flex;
}

.main__container {
    width: 100%;
    height: 100%;
    background-color: #F3F9FE;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
}

.main__container > h1 {
    font-size: 1.5rem;
}

.main__container__data {
    display: flex;
    gap: 1rem;
}

.main__container__data-item {
    display: flex;
    padding: 0.75rem 3rem;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 12px;
}

.main__container__data-item:nth-child(2) {
    background-color: #3D367F;
}

.main__container__data-item > h1 {
    font-size: 3.5rem;
    font-weight: 300;
}

.main__container__data-item > div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.main__container__form {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.main__container__search {
    display: flex;
    gap: 1rem;
    width: 100%;
    position: relative;
}

.main__container__search > input {
    flex-grow: 1;
    height: 1rem;
    border-radius: 2rem;
    padding: 1rem 3rem;
    border: 1px solid #B8B8BE;
}

.main__container__search > svg {
    position: absolute;
    left: 0.75rem;
    top: 0;
}

.main__container__search > button {
    background-color: #121026;
    border-radius: 2rem;
    color: white;
    padding: 0 2rem;
    cursor: pointer;
}

.main__container__filter {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.25rem;
    width: 100%;
    justify-content: flex-start;
}

.main__container__filter > button {
    height: 1rem;
    border-radius: 2rem;
    padding: 1rem 1.25rem;
    display: flex;
    align-items: center;
    color: black;
    border: 1px solid #B8B8BE;
    background-color: white;
    cursor: pointer;
}

.main__container__filter-active {
    background-color: #7064E7 !important;
    border: none !important;
    color: white !important;
}

.main__container__posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.75rem;
}

.main__container__posts > button {
    padding: 1rem;
    background-color: white;
    border-radius: 16px;
    border: 1px solid #E5E5E5;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.75rem;
    cursor: pointer;
}

.main__container__posts > button:hover {
    background-color: rgb(244, 244, 244);
}

.main__container__posts > button > p {
    padding: 0.25rem 1rem;
    background-color: white;
    border-radius: 5px;
    color: white;
    font-size: 0.65rem;
}

.upcoming {
    background-color: #3D367F !important;
}

.active {
    background-color: #7367F0 !important;
}

.closed {
    background-color: #E8E6FC !important;
    color: #7367F0 !important;
}


.main__container__posts > button > div {
    display: flex;
    gap: 0.5rem;
}

.main__container__posts > button > div > p {
    padding: 0.25rem 0.75rem;
    border: 1px solid #E5E5E5;
    border-radius: 1rem;
    background-color: white;
}

.special {
    background-color: #E8E6FC !important;
    border: 1px solid #7367F0 !important;
    color: #7367F0 !important;
}



