/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 14, 2025, 3:41:43 PM
    Author     : ASUS
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.card {
    width: 30%;
    height: 100%;
    background-color: #fff;
    padding: 3rem; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card__logo {
    width: 10rem;
}

.card__title {
    width: 100%;
}

.card__title > h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.card__button__container {
    width: 100%;
}

.card__button__container > button {
    width: 100%;
    height: 2rem;
}

.card__button__container > .divider {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.card__button {
    color: white;
    border: none;
    background: #7367F0;
    box-shadow: 0px 2px 6px rgba(115, 103, 240, 0.3);
    border-radius: 6px;
    padding: 1.25rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.divider > .hr-divider {
    border-color: #cccbd156;
    height: 1px;
    display: flex;
    width: 100%;
}

.divider > p {
    color: #CCCBD1;
}

.card__form {
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card__form > div {
    display: flex;
    flex-direction: column;
}

.card__form > div > label {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    color: black;
    margin-bottom: 0.25rem;
}

.card__form > div > input, .card__form > div > select {
    height: 1.5rem;
    padding: 1rem;
    border: 1px solid rgba(47, 43, 61, 0.22);
    border-radius: 6px;
}

.card__form > .card__button__container {
    margin-top: 0.5rem;
}

.card__footer {
    margin-top: 0.5rem;
    font-size: 0.95rem;
}

.card__footer > a {
    color: #7367F0;
}

.banner {
    width: 70%;
    height: 100%;
    background-color: #DCD9FB;
    padding: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner > img {
    height: 45rem;
}