* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: #121026;
}

.main {
    flex-grow: 1;
    height: 100%;
    display: flex;
}

.main__container {
    width: 100%;
    height: 100%;
    background-color: #F3F9FE;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.main__container > h1 {
    font-size: 1.5rem;
}

.main__container__return {
    height: 1rem;
    width: fit-content;
    border-radius: 2rem;
    padding: 1rem 1.25rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: black;
    border: 1px solid #B8B8BE;
    background-color: white;
    cursor: pointer;
}

.main__container__title > h1 {
    margin-top: 1rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    color: #434051;
}

.main__container__form {
    width: 100%;
    padding: 2rem;
    border: 1px solid #D9D9D9;
    border-radius: 12px;
    background-color: white;
}

.main__container__form-title {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-bottom: 1rem;
}

.main__container__form-title > h3 {
    font-size: 1.25rem;
    color: #444151;
}

.main__container__form-title > p {
    color: #444151bf;
}

.main__container__form-multi {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.main__container__form-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
}

.main__container__form-input > label {
    font-size: 0.85rem;
    font-weight: 600;
    color: #000000bf;
}

.main__container__form-input > input, 
.main__container__form-input > textarea {
    height: 1.5rem;
    padding: 1rem;
    max-width: 100%;
    resize: vertical;
}

.main__container__form > .main__container__form-input {
    margin-bottom: 1rem;
}

.main__side {
    width: 40rem;
    height: 100%;
    background-color: #F3F9FE;
    padding:  3rem 3rem 3rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main__side > h3 {
    font-size: 1.15rem;
    font-weight: 600;
    color: #333;
}

.main__side__data {
    display: flex;
    padding: 1rem 3rem;
    gap: 0.75rem;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 12px;
}

.main__side__data > h1 {
    font-size: 3.5rem;
    font-weight: 300;
}

.main__side__data > div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.main__side__profile {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 12px;
}

.main__side__profile-user {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.85rem;
    border-bottom: 1px solid #D9D9D9;
}


.main__side__profile-user > div {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.main__side__profile-user-img {
    width: 3rem;
    height: 3rem;
    background-color: rgb(228, 228, 228);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.main__side__profile-user-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.main__side__profile-user-desc {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
}

.main__side__profile-user-desc > p {
    width: fit-content;
    padding: 0.15rem 0.75rem;
    border-radius: 5px;
    font-size: 0.85rem;
    background-color: #E8E6FC;
    color: #7367F0;
    font-weight: 500;
}

.main__side__profile-date {
    padding: 1rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__side__profile-date > h2 {
    font-size: 0.95rem;
}